<p>Hello <%= @assignee.name %>,</p>
<p>
  A feedback is assigned to you by: <%= @member.name %>(<%= @member.login %>).<br>
</p>
<p>
  To visit kindly login to the site and follow this link: <%= feedback_url(@feedback) %>.
</p>