<h1>Hello <%= @assignee.name %>,</h1>
<p>
  A new feedback is submitted by: <%= @member.name %>(<%= @member.login %>).<br>
</p>
<p>
  To visit kindly login to the site and follow this link: <%= feedback_url(@feedback) %>.
</p>

<p>Kindly do not reply to this email. For queries please send SMS/Whatsapp to PradeepKumar.P (+91 9986613113)</p>

<p>Regards,<br/>
APOWA Admin</p>