<style type="text/css">
  .fc-day-grid-event > .fc-content {
    white-space: inherit;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
              Booking Calendar
            <%= link_to 'Book', new_booking_path, class: "btn btn-default pull-right" %>
          </h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body panel30 bookings-wrapper">
          <p class="center">Click a date to begin your Party Hall Booking</p>
          <div id="calendar"></div>
        </div>
      </div>
      <%= link_to '<< Bookings', bookings_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    //<![CDATA[
    var bookings_list = $.parseJSON('<%=j @bookings_list.to_json.html_safe %>');
    // ]]>
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,listMonth'
      },
      views: {
        month: { buttonText: 'Month' },
        agendaWeek: { buttonText: 'Week' },
        listMonth: { buttonText: 'List View' }
      },
      defaultDate: '<%= Date.today.to_s %>',
      displayEventTime: true,
      displayEventEnd: true,
      eventBackgroundColor: "#999",
      nowIndicator: true,
      weekNumbers: false,
      navLinks: true,
      editable: false,
      selectable: true,
      selectHelper: false,
      eventLimit: true,
      events: bookings_list,
      selectLongPressDelay: 25,
      // select: function(start) {
      //   window.location.href = '/bookings/new?on_date='+start.format();
      // }
      dayClick: function(date) {
        window.location.href = '/bookings/new?on_date='+date.format();
      }
    });
  });
</script>