<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Editing Facility</h2>
      <%= render 'form', facility: @facility %>
    </div>

    <%= link_to "<< Facilities", facilities_path, class: "btn btn-default" %>
  </div>
</div>
