<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            Location Map
          </h3>
        </div>

        <div class="panel-body panel30 flex-buttons">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.711473229385!2d77.66008334995293!3d12.861902890883385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6d807f12f6dd%3A0x7ed2c6e81cec379e!2sAjantha+Prime!5e0!3m2!1sen!2sin!4v1553065026397" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>