<div class="form-group">
  <dl class="dl-horizontal">
    <dt>
      <%= radio_button_tag 'vote_option[id]', option.id, (current_member.voted_option(@poll).try(:id).to_i == option.id), disabled: current_member.voted_for?(@poll) %>
    </dt>
    <dd>
      <%= label_tag option.title %>
      <% if current_member.voted_for?(@poll) %>
        <%= visualize_votes_for option %>
      <% end %>
    </dd>
</div>