<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Editing Post</h3></div>
        <div class="panel-body panel30">
          <%= render 'form', post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>
