<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Editing Vehicle</h3></div>
        <div class="panel-body panel30">
          <%= render 'form', vehicle: @vehicle %>
        </div>
      </div>
    </div>

    <%= link_to '<< Vehicles', vehicles_path, class: "btn btn-default" %>
  </div>
</div>
