html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f8f8f8;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

#wrapper {
  width: 100%;
}

.fwhite {
  color: white;
}

.form-signin {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

#header_section {
  .navbar {
    a.navbar-link {
      color: #999 !important;
      transition: ease-in-out color .15s;
      &.active { color: #fff !important; }
    }
    a.navbar-link:hover {
      color: #fff !important;
      text-decoration: none;
    }
  }

  .navbar-top-links {
    margin-right: 0;
  }

  .navbar-default, .nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0, 0, 0, .85) !important;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}

.panel30 {
  padding: 30px;
}

.flash-container { height: 50px; }

.page-header {
  margin-top: 0px;
}

.mtop30 { margin-top: 30px; }
.mtop20 { margin-top: 20px; }
.mtop10 { margin-top: 10px; }
.mbottom10 { margin-bottom: 10px; }
.mbottom20 { margin-bottom: 20px; }
.mleft10 { margin-left: 10px; }
.mleft20 { margin-left: 20px; }
.mright20 { margin-right: 20px; }
.pbot5 { padding-bottom: 5px; }
.ptop5 { padding-top: 10px; }
.bbottom5 { border-bottom: 5px solid #f5f5f5; }
.bbottom2-gray { border-bottom: 2px solid #CCC; }
.center { text-align: center; }
.right { text-align: right; }
.lpad20 { padding-left: 20px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

// Comments section

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}

// Toggle Switch

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #696969;
}

input:focus + .slider {
  box-shadow: 0 0 1px #696969;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.progress {
  background-image: linear-gradient(to bottom, #bbb 0%, #ccc 100%);
  .progress-bar { background-color: black; }
}

.input-group { padding: 0 15px !important; }

.feedback-button {
  line-height: 32px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  position: fixed;
  left: -33px;
  top: 45%;
  z-index: 999;
}