<p>Hello <%= @resource.name %>!</p>

<p>This mail is to notify you that your password has been changed.</p>

<p>Kindly do not reply to this email. If you have any questions, please contact us via email at <i>ajanthaprime@gmail.com</i></p>


<p>Regards,<br/>
APOWA Admin</p>