<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>

  <body>
    <%= yield %>

    <p>Kindly do not reply to this email. For queries please send SMS/Whatsapp to PradeepKumar.P (+91 9986613113)</p>

    <p>Regards,<br/>
    APOWA Admin</p>
  </body>
</html>
