<div class="col-lg-12">
  <h2 class="page-header">Editing Member</h2>
  <%= render 'form', member: @member %>
</div>

<%= link_to "<< #{@member.name}'s  Profile", @member, class: "btn btn-default" %>
